@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/style/input.css -o ./src/style/output.css --watch */
@font-face {
  font-family: altformBold;
  src: url(../fonts/AltformTRIAL-Bold.otf);
}
@font-face {
  font-family: altformLight;
  src: url(../fonts/AltformTRIAL-Light.otf);
}
body {
  background-color: #faf7f0;
}
@layer utilities {
  .altformLight{
    font-family: altformLight;
  }
  .altformBold {
    font-family: altformBold;
  }
  .favText {
    color: #053725;
    font-family: altformBold;
  }
  .favTextLighter {
    color: #005d3b;
    font-family: altformBold;
  }
  .favWhite {
    color: #ffffff;
    font-family: altformBold;
  }
  .bgShadow {
    background: #faf7f0;
    background: linear-gradient(17deg, #faf7f0 42%, rgba(241, 237, 229, 0) 91%);
  }
  .bgShadowWhite {
    background: #ffffff;
    background: linear-gradient(17deg, #ffffff 42%, rgba(241, 237, 229, 0) 91%);
  }
  .shadowGreen {
    background: #002e1d;
    background: linear-gradient(
      90deg,
      rgba(0, 46, 29, 1) 38%,
      rgba(0, 46, 29, 0) 100%
    );
  }
}
